.icons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .icons i {
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* hover */
  .icons i:hover {
    color: #00bcd4;
    transform: scale(1.2);
  }